.bet-strip {  
  &_choices {    
    display: flex;
    align-items: center;
    border: 2px solid #6baad1;
    color: black;
    font-size: 12px;
  }
}

.label {
  font-size: 12px;
}

.bet-block {
  width: 100%;
  text-align: center;
  padding: 8px;
  transition: ease-in-out 0.2s;

  &:hover {
    cursor: pointer;
    background: #cfb6d3;
  }
}

.selected {
  background: #cfb6d3;
}

.bet-block:not(:last-child) {
  border-right: 2px solid #6baad1;
} 