.frame {
  display: flex;
}

.sidebar {
  min-width: 200px !important;  
  background: black;
  height: 100vh;
  color: white;
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  border-right: 2px solid rgba($color: white, $alpha: 0.2);
  position: relative;

  @media (max-width: 1000px) {
    position: absolute;
    z-index: 1000;
  }

  &_item {
    margin: 15px 0;
    font-size: 24px;
    transition: 0.3s ease-in-out;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    &:hover {
      cursor: pointer;
      color: rgb(236, 169, 169);
      background: rgba($color: white, $alpha: 0.1);
      outline: thin solid rgba($color: white, $alpha: 0.2);
    }
  }
}

.selected-item {
  color: #07b39b;
  background: rgba($color: white, $alpha: 0.1);
  outline: thin solid rgba($color: white, $alpha: 0.2);
}

.nav-bar {
  background-color: black;
  height: 50px;
  width: 100% !important;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 2px solid rgba($color: white, $alpha: 0.2);

  .burger-menu {
    margin-left: 12px;
    height: 36px;

    &:hover {
      cursor: pointer;
    }
  }

  .actions {
    display: flex;
  }
}

.button {
  &_trailing {
    margin-right: 24px;
  }
}

.content-body {
  width: 100%;
  padding: 35px 30px;

  @media (max-width: 500px) {
    padding: 35px 0;
    width: calc(100% - 16px);
    margin: 0 auto;
  }
}

.hide {
  animation: slideOut 1s;
  animation-fill-mode: forwards;
}

.show {
  animation: slideIn 1s;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    display: none;
  }
}