.frame {
  display: flex;
}

.sidebar {
  height: 100vh;
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  border-right: 2px solid rgba($color: white, $alpha: 0.2);
  position: relative;

  @media (max-width: 1000px) {
    position: absolute;
    z-index: 1000;
    background: white;
  }

  &_item {
    margin: 15px 0;
    font-size: 24px;
    transition: 0.3s ease-in-out;
    padding: 15px;
    text-align: center;
    background: transparent;
    position: relative;
    
    .heading {
      transition: 0.3s ease-in-out;
      font-size: 10px;
      color: black;
      background: rgba($color: white, $alpha: 0.3);
      padding: 4px 8px;
      border-radius: 8px; 
      margin-bottom: 8px;
      &:hover {
        background: rgba(158,236,255,1);
      }
    }
    
    &:hover {
      cursor: pointer;
      color: rgb(236, 169, 169);
      animation: 1s slideUp;
      color: #07b39b;
    }
  }
}

.selected-item {
  color: #07b39b;

  .heading {
    font-size: 10px;
    color: black;
    padding: 4px 8px;
    background: rgba(158,236,255,1);
    border-radius: 8px; 
    margin-bottom: 8px;
  }
  // outline: thin solid rgba($color: white, $alpha: 0.2);
}

.nav-bar {
  height: 50px;
  width: 100% !important;
  padding: 10px 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba($color: white, $alpha: 0.2);

  .burger-menu {
    margin-left: 12px;
    height: 36px;
    display: none;

    @media (max-width: 1000px) {
      display: block;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .actions {
    display: flex;

    .avatar {
      clip-path: circle();
      width: 40px;
      height: 40px;
      margin-right: 32px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.button {
  &_trailing {
    margin-right: 24px;
  }
}

.content-body {
  width: 100%;
  padding: 35px 30px;

  @media (max-width: 500px) {
    padding: 35px 0;
    width: calc(100% - 16px);
    margin: 0 auto;
  }
}

.hide {
  @media (max-width: 1000px) {
    animation: slideOut 1s;
    animation-fill-mode: forwards;
  }
}

.show {
  animation: slideIn 1s;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    display: none;
  }
}

.noti {
  &_wrapper {
    position: absolute;
    right: 7px;
    top: 8px;
  }
  &_content {
    background: rgba($color: red, $alpha: 0.8);
    color: white;
    padding: 2px 5px;
    border-radius: 20px;
    line-height: 12px;
    clip-path: circle();
  }
}