.search-results {
  background: black;
  width: 300px;
  z-index: 500;
  color: white;
  padding: 10px;
  position: absolute;
  border: 2px solid #3e4346;


  &_item {
    animation: fadeIn 0.2s;

    &:hover{
      color: rgb(236, 169, 169);
      cursor: pointer;
      transition: ease-in-out 0.2s;
    }
  }
}

.show-results {
  animation: fadeIn 1s;
}

.hide-results {
  animation: fadeOut 1s;
}
