.search-field {
  position: relative;
}

.search-results {
  background: white;
  color: black !important;
  width: 250px;
  z-index: 500;
  color: white;
  width: 250px;
  position: absolute;
  border-radius: 0 0 4px 4px;
  outline: 2px solid white;

  &_item {
    animation: fadeIn 0.2s;
    padding: 10px;

    &:hover{
      color: rgb(236, 169, 169);
      cursor: pointer;
      transition: ease-in-out 0.2s;
    }
  }
}

.show-results {
  animation: fadeIn 1s;
}

.hide-results {
  animation: fadeOut 1s;
}
