.textfield {
  padding: 12px 5px;
  background: transparent;
  border: 1px solid rgba(201,207,212,1);
  border-radius: 8px;
  outline: none;
  padding-left: 10px;
  color: black;
  transition: 0.3s;

  &_error {
    border: 1px solid #ef4e7b;
  }
}

.textfield-wrapper {
  display: flex;
  align-items: center;
  div {
    margin-right: 12px;
  }
}

.label {
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 4px;
}

.container {
  text-align: left;
  display: inline-block;

  .error-text {
    transition: 0.3s ease-in-out;
    color: #ef4e7b;
    margin-top: 4px;
    font-size: 12px;
    position: absolute;
  }
}

.textfield:focus {
  color: rgb(236, 169, 169);
  padding-left: 10px;
}

.medium {
  width: 250px;
}