.textfield {
  padding: 12px 5px;
  border: none;
  outline: none;
  border-radius: 2px;
  background: transparent;

  &_filled {
    background: transparent;
  }

  &_default {
    background: transparent;
  }
  padding-left: 10px;
  color: black;
  transition: 0.3s;

}

.textfield-wrapper {
  display: flex;
  align-items: center;
  background: white;
  outline: 2px solid white;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
  
  &_error {
    outline: 1px solid #ef4e7b;
  }

  div {
    margin-right: 12px;
  }

  .trailing-icon {
    background: white;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.label {
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 4px;
}

.container {
  text-align: left;
  display: inline-block;

  .error-text {
    transition: 0.3s ease-in-out;
    color: #ef4e7b;
    margin-top: 4px;
    font-size: 12px;
    position: absolute;

    .show {
      display: block;
    }

    .hide {
      display: none;
    }
  }
}

.medium {
  width: 250px;
}