@import url('https://fonts.googleapis.com/css?family=Raleway:200');

html, body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  border-radius: 8px;
  text-align: center;
  background: rgba($color: white, $alpha: 1.0);
  padding: 50px 70px;

  @media (max-width: 440px) {
    width: calc(100% - 32px);
    padding: 50px 0;
    margin: 0 auto;
  }

  &_title {
    margin-bottom: 24px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: left;

    @media (max-width: 440px) {
      text-align: center;
    }
  }
}

.button {
  @media (max-width: 440px) {
    padding: 24px 70px 0 70px;
  }
}

.tf {
  transition: 0.3s ease-in-out;
}

.no-account {
  color: black;
  font-size: 12px;
  
  &:not(:last-child) {
    margin-bottom: 12px;
  }

  span {
    color: #3E42F3;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }
  }
}

a {
  text-decoration: none;
}