.title {
  margin-bottom: 24px;
  animation: slideIn 0.5s;
  font-weight: bold;
}

.table-view {
  text-align: left;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 12px;
  background: rgb(252, 252, 252);
  
  tr {
    .chevron {
      width: 20px;
      height: 20px;
      // background: rgba($color: grey, $alpha: 0.6);
      padding: 3px;
      border-radius: 8px;
    }
    // &:first-child(1) {
    //   background-color: rgba($color: white, $alpha: 0.7);
    // }

    &:nth-child(2n) {
      background-color: rgba($color: black, $alpha: 0.05);
    }

    // &:nth-child(2n-1) {
    //   background-color: rgba($color: white, $alpha: 0.40);
    // }
  }

  th, td {
    padding: 15px;
    text-align: center;
  }
}


.matches {

  .filter-actions {
  table-layout: fixed;
  width: 100%;
  background: rgba($color: white, $alpha: 0.2);
  padding: 15px;
  border-radius: 8px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 16px;
    column-gap: 16px;

    @media (max-width: 1468px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 1128px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
