.title {
  margin-bottom: 24px;
  animation: slideIn 0.5s;
  font-weight: bold;
}

.matches {
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 16px;
    column-gap: 16px;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}