@import url('https://fonts.googleapis.com/css?family=Raleway');

// breakpoints
$break-xl: 192 * 0.625em;
$break-xlg: 144 * 0.625em;
$break-lgl: 126 * 0.625em;
$break-lg: 120 * 0.625em;
$break-lgs: 115.2 * 0.625em;
$break-md: 98 * 0.625em;
$break-mds: 92 * 0.625em;
$break-smd: 84 * 0.625em;
$break-smsm: 77 * 0.625em;
$break-sm: 72 * 0.625em;
$break-msm: 64 * 0.625em;
$break-sms: 60 * 0.625em;
$break-xs: 48 * 0.625em;
$break-xsm: 40 * 0.625em;
$break-xxs: 37.5 * 0.625em;
$break-xxsc: 37 * 0.625em;
$break-xxxs: 35 * 0.625em;

// according to Google Material Design
$breakpoints: (
  "xs": $break-xs,
  "sm": $break-sm,
  "smd": $break-smd,
  "md": $break-md,
  "lg": $break-lg,
  "xl": $break-xlg,
);


html,
body {
  // background: rgb(201,207,212);
  background: linear-gradient(180deg, rgb(130, 187, 233) 35%, rgb(127, 255, 180) 100%);  
  height: 100vh;
  width: 100vw !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Raleway';
  // color: #CED5DE;
  color: black;
  z-index: -1;
}

.ta-r {
  width: 100%;
  text-align: right;
}

.mobile-block {
  @media (max-width: 1000px) {
    display: block !important;
  }
}

.headline {
  color:  black;
  font-weight: 700;
  font-size: 20px;

  &_large {
    font-size: 32px;
  }
}

.d-flex {
  display: flex;
  align-items: center;

  &_top {
    align-items: flex-start;
  }

  &_right {
    justify-content: right;
  }

  &_left {
    justify-content: left;
  }

  &_space {
    justify-content: space-between;
  }

  &_center {
    justify-content: center;
  }
}

.page-headline {
  font-size: 40px;
  margin-bottom: 24px;
}

.t-center {
  text-align: center !important;
}

.m-0 {
  margin: 0 !important;
}

.ph-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-36 {
  margin-bottom: 36px;
}

.ml-16 {
  margin-left: 16px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mt-24 {
  margin-top: 24px;
}

.mh-16 {
  margin: 0 16px;
}

@keyframes fadeOut {
  to {
    visibility: hidden;
  }
}

@keyframes fadeIn {
  to {
    visibility: visible;
  }
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.gradient-border {
  --borderWidth: 1px;
  background: #1D1F20 !important;
  position: relative;
  z-index: 5;
  display: inline-block;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.main-container {
  outline: thin solid rgba($color: white, $alpha: 0.2);
  color: white;
  font-size: 12px;
  padding: 10px;
}

.content-container {
  outline: 2px solid white;
  background: rgba($color: white, $alpha: 0.4);
  border-radius: 2px;
  padding: 10px;
  
  &_lighter {
    background: rgba($color: white, $alpha: 0.1);
  }
}

@keyframes slideDown {
  from {
    transform: translate(-100%);
  }

  to {
    transform: translate(0%);
  }
}

.hide {
  display: none;
  animation: 0.3s slideDown;
}

.show {
  display: block;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}